:root {
    --gray: #dadada40;
	--dark-gray: #707070;
    --gold : #FFD700;
    --dark-blue: #001C40;
}


a:visited {
    color: inherit;
}

footer p {
    font-size: small;
    text-align: right;
    margin-right: 20px;
}

/* Loading */

.is-loading {
	position:relative;
	min-height: 200px;
}
.is-loading * {
	display: none !important;
}
.is-loading:before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1;
}
.is-loading:after {
	content: '	';
	position: absolute;
	top:50%;
	left:50%;
	width: 50px;
	height: 50px;
	border: 1px black solid;
	border-top-color: rgba(0,0,0,.1);
	z-index: 2;
	border-radius: 50%;
	animation: rotate .5s linear infinite;
	transform-origin: center;
}

.input-search{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;;
	height: 42.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 20px;
	padding: 0 20px;
  }

@keyframes rotate {
	0% {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}
