.pageContent {
    margin: 20px;
}

/* MOVIE INFORMATIONS */

.title {
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.textDetails{
    margin: 10px;
    width: 50%;
    margin-right: 50px;
}

.infoDetail {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.firstDetails {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    
}
.imageDetails img {
    width: 200px;
    height: 300px;
}

.ratingStars {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #FFD700;
}

.synopsisDetail {
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 5% 10%;
}

.trailerDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    padding-top: 40px;
}



/* COMMENTS */

.commentDetail {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid;
    padding-top: 20px;
}

.commentForm {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: row;    
}

.commentTextArea {
    border: none;
    font-size: 15px;
    width: 100%;
}

.commentButton {
    margin: 0;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.commentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.commentItem {
    margin: 20px;
}
