body { 
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4; 
}

.header { 
  padding: 10px; 
  display: flex;  
  justify-content: space-between; 
  align-items: center; 
  background-color: var(--dark-blue); 
  color: white; 
}

.left-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.right-header{
  display: inline-flex;
  text-align: right;
}

button { 
  padding: 5px 15px; 
}

.logo {
  height: 50px;
  width: 50px; 
  border-radius: 50%; 
  margin-right: 10px;
  margin-top: 8%;
}

.profile-icon { 
  font-size: 24px;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.showList { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 5px; 
}

.movie {
  margin: 10px;
  text-align: center; 
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  overflow: hidden; 
  cursor: pointer;
}

.movie:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
.movie img {
  width: 80%; 
  height: 80%; 
  object-fit: cover; 
}

.movie img { 
  margin-top: 3%;
  max-width: 300px; 
  max-height: 450px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
}
.movie-title { font-size: 1.1em; 
  margin-top: 5px; 
  color: #333;
  padding: 0 5px;
}


.star-rating { 
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.page-number button {
    margin: 5px; 
}


.searchBar{
  position: relative;
  top: 25px;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  margin-right: 150px;
}


.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: var(--dark-blue);
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.searchBar:hover,
.searchBar:valid{
  width: 200px;
  cursor: pointer;
}

.searchBar:hover input,
.searchBar:valid input{
  display: block;
}

.searchBar:hover .fa,
.searchBar:valid .fa{
  background: var(--dark-blue);
  color: white;
}

.filter-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
}

.filter-item{
  margin-left: 2%;
  margin-right: 2%;
}

.svg *{
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .movie { width: 50%; }
}
@media (min-width: 1001px) {
  .movie { width: 25%; }
}


.pageTitle {
  padding: 10px;
}